@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-primary: #FF2253;
    --color-primary-50: #FFE9EE;
    --color-Secondary: #4ACA94;
    --color-Secondary-50: #E4F7EF;

    --product-1: #EEF6FF;
    --product-2: #FFF7F4;
    --product-3: #FFE4EA;
    --product-4: #F3EEF5;


    --grey-4: #212529;
    --grey-3: #868E96;
    --grey-2: #E9ECEF;
    --grey-1: #F8F9FA;

  }


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;

}

.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 5%;
}

.logo a{
    text-decoration: none;
}

.logo a:visited{
    text-decoration: none;
}

.logo h2{
    color: var(--grey-4);
    font-size: 22px;
    display: inline;
}

.logo span{
    color: var(--color-primary);
    font-size: 16.27px;
    margin-left: 8px;
}

.lateral{
    display: flex;
    align-self: center;
}

.lateral input{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    border: 0px;
    background-color: var(--grey-2);
    color: var(--grey-3);
    border-radius: 12px;
    padding: 5%;

}

.lateral img{
    margin: auto;
    margin-left: 34px;
}



.barra-de-botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
}

.lista-de-filtros{
    display: flex;
    overflow: auto;
    padding: 3%;

}

.lista-de-filtros li{
    display: flex;
    align-content: center;
    align-items: center;

    box-sizing: border-box;
    flex-grow: 1;
    font-weight: 500;
    color: var(--grey-4);
    font-size: 16px;

    padding: 20px;
    margin-right: 30px;
    background-color: var(--product-2);
    border-radius: 32px;
    cursor: pointer;
}


.lista-de-filtros img{
    margin-right: 20px;
}

#adicionar-produto{
    box-sizing: border-box;
    background-color: var(--color-primary);

    font-weight: 600;
    color: var(--grey-1);

    height: fit-content;
    padding: 20px;
    border: 0px;
    border-radius: 32px;
    cursor: pointer;
    align-self: center;
}

.container-tabela{
    display: flex;
    justify-content: center;
    padding: 5%;
}

table{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 15px;
}

.titulos{
    color: var(--grey-3);
    font-weight: 600;
    height: 45px;
}

.linha-de-item{
    border: 1px solid var(--grey-2);
    height: 50px;
}

.linha-de-item span{
    color: var(--grey-3);
    margin-right: 15px;
}

.produtos{
    width: 350px;
}

.produtos img{
    width: 50px;
}

.produtos p{
    display: inline;
    font-weight: 500;
}

.categorias{
    width: 200px;
}

.descricao{
    width: 450px;
}

.icones-td img{
    margin-right: 10%;
    cursor: pointer;
}