:root {
    --bg-color: #FAFAFA;
    --color-primary: #FF2253;
    --color-primary-50: #FFE9EE;
    --color-secondary: #0CA678;
    --color-secondary-50: #E4F7EF;
    --product-1:#EEF6FF;
    --product-2:#FFF7F4;
    --product-3: #FFF1F4;
    --product-4: #F3EEF5;
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;
    --btn-border-color: #DEE2E6;
}
html{
    height: calc(var(--vh, 1vh) * 100);

    width: 375px;
}

:root{
    background-color: var(--bg-color);
    font-family: 'Inter';
    
}
.body{
    max-width: 375px;
}

.header{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.logo{
    background-color: var(--bg-color);
    margin-top: 2%;
    font-weight: 700;
    font-size: 21.6949px  
}

.logo span{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16.2712px;
}

#avatar{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    margin-right: 5%;
    margin-top: 2%;
    cursor: pointer;   
}

.popup_usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(5, 2, 1, 0.6);  
}

.caixa_usuario{
    width: 70%;
    height: 40%;
    background-color: var(--bg-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_usuario{
    color: white;
    font-weight: bold;
    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
    width: 100%;
}

.botao_fechar{
    width: 11px;
    height: 15px;
}

.botao_fechar_carrinho{
    width: 11px;
    height: 15px;
}

.caixa_usuario a{
    margin-top: 15px;
    padding: 15px 20px;
    background-color: var(--color-primary-50);
    text-decoration: none;
    min-width: 60%;
    text-align: center;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}

.caixa_usuario a:hover{
    background-color: var(--color-primary);
    color: white;
}


.campo_pesquisa{
    margin-top: 30px;
    width: 335px;
    padding: 15px 18px 15px 16px;
    border: 1.5px solid var(--btn-border-color);
    border-radius: 12px;
    background-color: var(--grey-2);
    font-weight: 400;
    font-size: 16px;
}

#lista-navegacao{
    display: flex;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    margin-top: 30px;
    overflow: scroll;
}

#lista-navegacao li{
    font-weight: 500;
    font-size: 16px;
    padding: 15px 20px;
    margin-right: 15px;
    border-radius: 30px;
    cursor: pointer;
    align-content: center;
    
}

.icone img{
    margin-right: 15px;
    width: 17px;
    height: 17px;
}

.icone:hover{
    background-color: var(--color-primary);
    color: white; 
}


.todos{
    background-color: var(--color-primary-50);
    color: var(--grey-4);
    min-width: 88px;
    height: 48px;
}

.panificadora{
    background-color: var(--product-2);
    color: var(--grey-4) ;
    min-width: 170px;
    height: 48px;
}

.frutas{
    background-color: var(--product-3);
    color: var(--grey-4);
    min-width: 130px;
    height: 48px;
}

.bebidas{
    background-color: var(--product-4);
    color: var(--grey-4);
    min-width: 140px;
    height: 48px;

}

.ativa{
    background-color: var(--color-primary);
    color: white;
}

/*listagem de produtos*/
.caixa-lista-produtos{
    padding-top: 20px;
    display: flex;
    align-items: center;
    
    height: 461px;
    margin-left: 5%;
    overflow: scroll;
}

.lista_produtos{
    display: flex;
    gap:15px;
}

.caixa_produto{
    width: 270px;
    height: 400px;
}

.img_produto{
    width: 100%;
    height: 200px;
}

.detalhes_produto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.detalhes_produto h3{
    font-weight: bold;
    font-size: 16px;
}

.detalhes_produto p{
    color: var(--grey-3);
    font-size: 14px;
    line-height: 24px;
    max-height: 50px;
    overflow: hidden;
}

.categoria{
    font-size: 12px;
    color: var(--grey-3)
}

.detalhes_produto span{
    color: var(--grey-4);
    font-size: 14px;
    font-weight: bold;
}

.valores_produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: var(--color-secondary-50);
    border-radius: 50%;
    cursor: pointer;
}

.icone_add{
    width: 15px;
    height: 15px;
}

.footer_mobile{
    display: flex;
    background: var(--color-primary);
    color: white;
    height: 60px;
    bottom: 0;
    font-weight: bold;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup_carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(5, 2, 1, 0.6);  
}

.caixa-carrinho{
    width: 345px;
    height: 628.55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 15px;
}

.carrinho_titlulo{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-primary);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carrinho_titlulo h1 img{
    margin-right: 15px;
}

.caixa-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 490px;
    width: 100%;
    overflow: scroll;
}

.item_carrinho{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 80px;
    border-radius: 9px;
}

.imagem_carrinho{
    width: 75px;
    height: 75px;
}

.detalhes_carrinho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60%;
}

.detalhes_carrinho h3{
    font-weight: bold;
    font-size: 14px;
}

.detalhes_carrinho p{
    font-size: 12px;
    color: var(--grey-3);
}

.detalhes_carrinho span{
    font-size: 14px;
}

.botao_remove{
    width: 10px;
    height: 12px;
    cursor: pointer;
}

.caixa-quantidade-total{
    color: black;
    background-color: var(--grey-1);
    font-weight: bold;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12.9375px;
}

.caixa-valor-total{
    color: black;
    font-weight: bold;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12.9375px;
}

.esconder{
    display: none;
}

.menu_esconder{
    display: none;
}

.usuario_nao_logado{
    display: none;
}



@media (min-width: 400px) {


    html {
        width: auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        margin-top: 10px;
        align-content: center;
        width: 100%;
        height: 75px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pesquizar-por-nome{
        margin-right: 10%;
    }

    #lista-navegacao {
        display: flex;
        font-family: 'Inter', sans-serif;
        margin-left: 5%;
        margin-top: 30px;
        overflow: hidden;
    }
    
    .caixa-lista-produtos {
        padding-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: auto;
        height: auto;
        margin-left: 5%;
        overflow: hidden;
        flex-direction: row;
    }

    main{
        display: flex;
        justify-content: space-between;
    }

    .footer_mobile {
        display: none;
    }

    .caixa-lista-produtos{
        width: 100%;
    }

    .caixa_produto{
        width: 303px;
        border: 1.5px solid white;
    }
    .caixa_produto:hover{
        border: 1.5px solid var(--grey-3);
        border-radius: 5px;
    }

    .lista_produtos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
    }

    .esconder{
        display: flex;
    }

    .popup_carrinho{
        margin-right: 10%;
        align-items: flex-start;
        justify-content: center;
        position: unset;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        width: 20%;
        height: 30%;
        background-color: white;
        border-radius: 15px;
        border: 1.5px solid var(--grey-2);
    }

    .botao_fechar_carrinho{
        display: none;
    }

    .popup_usuario{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-right: 2%;
        width: 250px;
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
        background: white;
        border: 1.5px solid var(--btn-border-color);
        border-radius: 15px;
        padding-bottom: 10px;
    }

    .caixa_usuario{
        width: 100%;
    }

    .menu_esconder{
        display: none;
    }
    
  }